@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<div id="header">
    <div id="logo" class="text-left">Gradebook</div>
</div>

<div id="content" class="pt-5 pb-2 m-auto">
    <div class="form-wrapper-login">
        @Body
    </div>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                ShowProgressBar="true"/>