@page "/login"
@layout LoginLayout
@inject NavigationManager NavigationManager
@inject IUserRepository UserRepository

<h2 class="text-center">Dobrodošli</h2>

<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="LoginParameters">
    <DataAnnotationsValidator />

    <label for="email">Email adresa:</label>
    <InputText id="email" class="form-control" @bind-Value="LoginParameters.Email" autofocus />
    <ValidationMessage For="@(() => LoginParameters.Email)" />

    <label for="password">Lozinka:</label>
    <InputText type="password" id="password" class="form-control" @bind-Value="LoginParameters.Password" />
    <ValidationMessage For="@(() => LoginParameters.Password)" />

    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">PRIJAVA</button>
        @if (!IsThereAdmin)
        {
            <a href="register" class="btn btn-secondary btn-block">REGISTRACIJA</a>
        }
    </div>
</EditForm>
@code
{
    public LoginParameters LoginParameters { get; set; } = new LoginParameters();

    private bool IsThereAdmin;

    protected override void OnInitialized()
    {
        IsThereAdmin = UserRepository.IsThereAdmin();
    }

    async Task OnSubmit()
    {

    }
}
