@page "/login"
@layout LoginLayout
@inject NavigationManager NavigationManager
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IUserRepository UserRepository
@inject IToastService ToastService

<h2 class="text-center">Dobrodošli</h2>

<form class="form-signin" method="post" action="LoginCs">
    
    <label for="email">Email adresa:</label>
    <input id="email" class="form-control" name="Email" autofocus />

    <label for="password">Lozinka:</label>
    <input type="password" id="password" class="form-control" name="Pass" />

    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">PRIJAVA</button>
        @if (!IsThereAdmin)
        {
            <a href="register" class="btn btn-secondary btn-block">REGISTRACIJA</a>
        }
    </div>
</form>

@code
{
    private bool IsThereAdmin;

    protected override void OnInitialized()
    {
        IsThereAdmin = UserRepository.IsThereAdmin();
    }
}
