@page "/register"
@layout LoginLayout
@inject NavigationManager NavigationManager
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h2 class="text-center">Dobrodošli</h2>

<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="RegisterParameters">
    <DataAnnotationsValidator />

    <label for="ime">Ime:</label>
    <InputText id="ime" class="form-control" @bind-Value="RegisterParameters.Ime" autofocus />
    <ValidationMessage For="@(() => RegisterParameters.Ime)" />

    <label for="password">Lozinka:</label>
    <InputText type="password" id="password" class="form-control" @bind-Value="RegisterParameters.Password" />
    <ValidationMessage For="@(() => RegisterParameters.Password)" />

    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">REGISTRACIJA</button>
        <a href="login" class="btn btn-secondary btn-block">PRIJAVA</a>
    </div>
</EditForm>

@code
{
    public RegisterParameters RegisterParameters { get; set; } = new RegisterParameters();

    async Task OnSubmit()
    {

    }
}
